body { background-color: black; }

#one { width: 700px; height: 80px; margin-top: 1px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, black, grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black, grey, black); /* Standard syntax */ }
#two { width: 700px; height: 150px; margin-top: 45px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, black, grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black, grey, black); /* Standard syntax */ }
#three {  width: 700px;  height: 500px;  margin-top: 45px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, black, grey, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, grey, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, grey, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black, grey, black); /* Standard syntax */ }

#title { font-family: Ubuntu; padding-top: 17px; color:white; }
#text { color:white; font-family:Ubuntu; font-size: 20px; padding-top: 5px; }
#text2 { font-family: Ubuntu; color: white; font-size: 30px; padding-top: 15px; }
#text3 { color:white; font-family:Ubuntu; font-size: 18px; padding-top: 5px; }

#button1 { padding-left: 10px; margin-left: 10px; }
#button2 { padding-left: 10px; margin-left: 10px; }

#imagem { width: 150px; height: 150px; }
hr { width: 75%; margin-top: 30px; }
