body {
 	background-image: url("image.png");
 	     background-position: 50% 0%;
 } 

 p {
	color: white;
	font-family: monospace;
}

h2 {
	color: white;
	font-family: monospace;
}

a {
	text-decoration: none;
	color: gray;
	font-family: monospace;
	size: 18px;
}

a:hover {
	text-decoration: underline;
}

#htitle {
	font-size: 19px;
	margin-top: 10px;
}

#description {
	font-size: 14px;
} 

#headerdiv {
	background-color: black;
	width: 75%;
	height: 135px;
	border: 2px solid white;
	margin-top: 30px;
	opacity: 0.6;
	-webkit-transition: opacity 0.4s ease-in-out;
  	-moz-transition: opacity 0.4s ease-in-out;
  	-ms-transition: opacity 0.4s ease-in-out;
  	-o-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
  	box-shadow: 10px 10px 1px #0c0c0c;
}

#headerdiv:hover {
	filter: alpha(opacity=50);
	opacity: 1;
} 

#first {
	background-color: black;
	margin-left: 12.2%;
	margin-top: 40px;
	width: 175px;
	height: 310px;
	position: absolute;
	border: 2px solid white;
	opacity: 0.6;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
  	-ms-transition: opacity 0.4s ease-in-out;
  	-o-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
  	box-shadow: 10px 10px 1px #0c0c0c;
}

#first:hover {
	filter: alpha(opacity=50);
	opacity: 1;
}

#second {
	float: left;
	background-color: black;
	margin-left: 415px;
	margin-top: 40px; 
	width: 175px;
	height: 250px;
	border: 2px solid white;
	opacity: 0.6;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
  	-ms-transition: opacity 0.4s ease-in-out;
  	-o-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
  	box-shadow: 10px 10px 1px #0c0c0c;
}

#second:hover {
	filter: alpha(opacity=50);
	opacity: 1;
}

#third {
	float: right;
	background-color: black;
	margin-right: 415px;
	margin-top: 40px; 
	width: 175px;
	height: 250px;
	border: 2px solid white;
	opacity: 0.6;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
  	-ms-transition: opacity 0.4s ease-in-out;
  	-o-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
  	box-shadow: 10px 10px 1px #0c0c0c;
}

#third:hover {
	filter: alpha(opacity=50);
	opacity: 1;
}

#fourth {
	float: right;
	background-color: black;
	margin-right: 12.2%;
	margin-top: -254px; 
	width: 175px;
	height: 310px;
	border: 2px solid white;
	opacity: 0.6;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
  	-ms-transition: opacity 0.4s ease-in-out;
  	-o-transition: opacity 0.4s ease-in-out;
  	transition: opacity 0.4s ease-in-out;
  	box-shadow: 10px 10px 1px #0c0c0c;
}

#fourth:hover {
	filter: alpha(opacity=50);
	opacity: 1;
}
